*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
}
/* Estilos para cabçalho */

.navbar-container{
  background-color: #5d1aaa;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;      
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10; 
}


.logo{
  height: 100px;              
  width: auto;
  margin-top: 25px;
  display: block;
}

h1{
  color: #ffdd19;
  font-weight: bold;
  font-size: 17px;
  margin-top: 25px;
  display: flex;
  align-items: center;

}

.navbar-title {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}

.navbar-title-text {
    margin-bottom: 5px;
}

.slogan {
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    margin-top: 5px;
}
.navbar-title-buttons{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.abas-principais-1,
.abas-principais {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 8px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s; /* Adicione aqui */
}
.abas-principais:hover {
    background-color: #7f2dcb;
    color: #fff;
    transition: 0.3s;
    transform: scale(1.05);
}

.abas-principais-1{
  color:  #7f2dcb;
  background-color: #feed8a;
}

/* Estilos para os ícones de contato */

.navbar-itens{
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}


.navbar-itens li{
  list-style: none;
}

.navbar-itens a{
  text-decoration: none;
  color: #fff;     
  font-size: 22px;
  display: inline-flex;
  align-items: center;
}

.navbar-itens i{
  margin-right: 8px;
  font-size: 30px;
  color: #ffdd19;
  transition: 0.5;
  cursor: pointer;
}

.navbar-itens i:hover{
  color: #c7ab0f;
}
 /* Fim do cabçalho */