* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 100vw;
}

.container-fluid {
  width: 100%;

}

/* Estilos para cabçalho */

.navbar-container {
  background-color: #5d1aaa;
  height: 100px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.logo {
  height: 100px;
  width: auto;
  margin-top: 25px;
  display: block;
}

h1 {
  color: #ffdd19;
  font-weight: bold;
  font-size: 17px;
  margin-top: 7px;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.navbar-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.navbar-title-text {
  max-width: 100%;
  overflow: hidden;
}

.slogan {
  font-size: 20px;
  color: #ffffff;
  font-style: italic;
  margin-top: 5px;
}

.navbar-title-buttons {
  display: flex;
  flex-direction: row;
  gap: 150px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.abas-principais {
  margin-top: 18px;
  padding: 8px 16px;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 6px;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
}

.abas-principais:hover {
  background-color: #7f2dcb;
  color: #fff;
  transition: 0.3s;
  transform: scale(1.05);
}

/* Estilos para os ícones de contato */

.navbar-itens {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}


.navbar-itens li {
  list-style: none;
}

.navbar-itens a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
}

.navbar-itens i {
  margin-right: 8px;
  font-size: 30px;
  color: #ffdd19;
  transition: 0.5;
  cursor: pointer;
}

.navbar-itens i:hover {
  color: #c7ab0f;
}

/* === MENU HAMBÚRGUER === */
.menu-toggle {
  display: none;
  /* Escondido em telas grandes */
  background: none;
  border: none;
  color: #3e1270;
  background-color: #ccaaf2;
  border: 2px solid #c7ab0f;
  border-radius: 20px;
  font-size: 14px;
  padding: 2px;
  cursor: pointer;
  align-items: flex-end;
  gap: 2px;
  margin-left: 10px;
  width: 40px;
}



/* Estilos para o banner inicial */

.main-banner {
  display: flex;
  align-items: center;
  background-color: #dfd2eb;
  padding: 1rem 2rem;
  color: #252b2b;
  text-shadow: 2px 2px 4px #a4a4a4;
  font-size: 25px;
  min-height: 300px;
}

.banner-img {
  max-width: 500px;
  height: auto;
  margin-right: 200px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slogan {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  color: #45147c;
  margin-top: 10px;
  text-shadow: 2px 2px 4px #a4a4a4;
}

.banner-img-usf {
  width: 70px;
  height: auto;
  margin-top: 30px;
  align-self: center;
}

/* Estilos para o conteúdo principal */

.highlighted-words {
  color: #ffdd19;
  font-size: 22px;
  font-weight: bold;
}

.container-total {
  background-color: #45147c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.introduçao-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinha conteúdo à esquerda */
  justify-content: flex-start;
  max-width: 700px;
  /* Defina a largura máxima desejada */
  width: 100%;
}

/* Estilos para a seção de Leis Principais */

.lei {
  padding-left: 40px;
  margin-top: 20px;
  font-size: 30px;
  color: #ffdd19;
  font-weight: bold;
}

.introduçao {
  text-align: left;
  /* Alinha texto à esquerda */
  width: 100%;
  padding-left: 40px;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  text-align: justify;
}

.foto-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Alinha conteúdo à esquerda */
  justify-content: flex-end;
  max-width: 700px;
}

.foto-container1 {
  width: 40vw;
  /* Imagem responsiva */
  max-width: 600px;
  min-width: 200px;
}

.container-elementos1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eeebff;
  padding-bottom: 30px;
}

.leis-introduçao {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}

.lei-bloco {
  margin-top: 3vw;
  background-color: #45147c;
  color: #fff;
  border-radius: 15px;
  padding: 2vw;
  width: 22vw;
  min-width: 200px;
  max-width: 300px;
  height: 32vw;
  min-height: 200px;
  max-height: 320px;
  text-align: left;
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.70);
  transition: box-shadow 0.3s, transform 0.3s;
}

.lei-bloco:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.30);
  transform: translateY(-10px);
}

.elemento-bloco {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #ffdd19;

}

.lei-bloco i {
  font-size: 55px;
  margin-bottom: 10px;
  color: #dad3fc;
}

.fibro-icon {
  width: 40px;
  height: auto;
  display: block;
}


.container-bloco-direito {
  background-color: #d7c7e6;
  border-radius: 15px;
  width: 100%;
  max-width: 1350px;
  /* ou outro valor que caiba na tela */
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.direitos {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.beneficios-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin: 0 20px;
}

.beneficios {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  font-size: 24px;
  color: #45147c;
  font-weight: bold;
  background-color: #eeebff;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.70);
  transition: 0.3s;
}

.beneficios:hover {
  background-color: #e0dded;
  transition: 0.3s;
  transform: scale(1.05);
}

.fibro-título {
  text-align: left;
  width: 100%;
  font-size: 25px;
  color: #7f2dcb;
}

.fibromialgia {
  margin-top: 40px;
}

.container-fibro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fibro-texto {
  font-size: 17px;
  margin: 10px 30px;
  padding: 10px 20px;
  text-align: justify;
}

.foto-fibromialgia {
  width: 50vw;
  /* Imagem responsiva */
  max-width: 400px;
  min-width: 400px;
  height: auto;
  max-height: 300px;
  min-height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.70);
}

.container-fibromialgia,
.container-sintomas {
  display: flex;
  align-items: center;
  /* alinha verticalmente */
  gap: 10px;
  margin: 40px 20px 0px 40px;
  /* espaço entre o + e o texto */
}

.container-fibromialgia,
.container-sintomas i {
  font-size: 24px;
  /* tamanho do + */
  color: #6a1b9a;
}

.container-sintomas-texto {
  margin: 20px 40px;
  /* Espaçamento ao redor do container */
}

.container-sintomas-texto li::before {
  content: "✔️ ";
  color: #561d96;
  /* roxo do seu site */
  font-weight: bold;
  margin-right: 8px;
}

.container-sintomas-texto ul {
  list-style: none;
  padding-left: 0;
}

.sintomas-texto {
  font-size: 17px;
  text-align: justify;
}

.sintomas-texto ul {
  list-style-type: none;
}

.sintomas-texto li {
  text-decoration: none;
}

.sintomas-topicos-geral {
  display: flex;
  gap: 20px;
  /* Espaço entre as colunas */
}

.sintomas-topicos {
  flex: 1;
  /* Cada coluna ocupa metade do espaço disponível */
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  background-color: #9f9e9e;
  height: 0.5px;
  margin-top: 40px;
}

.footer {
  background-color: #5d1aaa;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* organiza os elementos verticalmente */
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* espaço entre h3 e p */
}

.footer1 {
  font-size: 13px;
  color: #fff;
  text-align: center;
}

 /* ========== RESPONSIVIDADE ========== */

 /* CELULAR - 600px e abaixo */
@media (max-width: 600px) {
  .menu-toggle {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .navbar-title-text {
    display: none;
  }

  .navbar-title-buttons {
    display: none;
    flex-direction: column;
    gap: 5px;
  }

  .navbar-title-buttons.active {
    display: flex;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #5d1aaa;
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }

  .navbar-title-buttons,
  .abas-principais,
  .abas-principais-1 {
    width: 100%;
    text-align: left;
    /* ou center se preferir */
    padding: 10px 12px;
    border-radius: 6px;
  }

  .navbar-container {
    flex-direction: row;
    height: 50px;
    padding: 10px;
    position: sticky;
  }

  .logo {
    height: 60px;
    width: auto;
    margin-top: 20px;
    display: block;
  }

  .navbar-title {
    flex-direction: row;
    padding: 0 10px;
  }

  .navbar-title-buttons {
    flex-direction: column;
    gap: 5px;
  }

  .navbar-itens {
    flex-direction: row;
    gap: 8px;
  }

  .navbar-itens i {
    font-size: 24px;
  }

  /* fim do cabeçalho */

  /* conteúdo principal */
  .main-banner {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 2rem;
  }

  .banner-img {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .container-total {
    flex-direction: column;
    align-items: center;
  }

  .foto-container {
    align-items: center;
    justify-content: center;
  }

  .foto-container1 {
    width: 60%;
  }

  .introduçao {
    padding: 0 20px;
    font-size: 16px;

  }

  .leis-introduçao {
    flex-direction: column;
    align-items: center;
  }

  .lei-bloco {
    width: 100%;
    height: auto;
  }

  .container-direitos {
    height: auto;
    padding: 20px;
  }

  .beneficios-container {
    flex-direction: column;
    gap: 20px;
  }

  .beneficios {
    font-size: 20px;
    padding: 10px;

  }

  .container-fibro {
    flex-direction: column;
    align-items: center;
  }

  .foto-fibromialgia {
    width: 60%;
    min-width: auto;
    height: auto;
  }

  .fibro-texto {
    font-size: 15px;
    padding: 10px;
  }

  .sintomas-topicos-geral {
    flex-direction: column;
  }

  .footer {
    font-size: 12px;
    padding: 15px;
  }
}

 /* TABLETS - 601px até 768px */
 @media (min-width: 601px) and (max-width: 768px) {
     .navbar-container {
         height: 60px;
         padding: 0 15px;
     }

     .logo {
         height: 70px;
         margin-top: 20px;
     }

    .navbar-title {
    flex-direction: row;
    padding: 0 10px;
  }

     .navbar-title-buttons {
         display: none;
         flex-direction: column;
         gap: 8px;
     }

     .navbar-title-buttons.active {
         display: flex;
         position: absolute;
         top: 90px;
         right: 15px;
         background-color: #5d1aaa;
         padding: 15px;
         border-radius: 10px;
         width: 220px;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
         z-index: 1001;
     }

     .abas-principais,
     .abas-principais-1 {
         width: 100%;
         text-align: center;
         padding: 12px;
         font-size: 17px;
     }

     .menu-toggle {
         display: flex;
         justify-content: center;
         font-size: 18px;

     }

     .navbar-title-text {
         display: none;
     }

     .navbar-itens {
         gap: 15px;
     }

     .navbar-itens i {
         font-size: 28px;
     }

     /* fim do cabeçalho */

  /* conteúdo principal */
  .main-banner {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 2rem;
  }

  .banner-img {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .container-total {
    flex-direction: column;
    align-items: center;
  }

  .foto-container {
    align-items: center;
    justify-content: center;
  }

  .foto-container1 {
    width: 60%;
  }

  .introduçao {
    padding: 0 20px;
    font-size: 16px;

  }

  .leis-introduçao {
    flex-direction: column;
    align-items: center;
  }

  .lei-bloco {
    width: 100%;
    height: auto;
  }

  .container-direitos {
    height: auto;
    padding: 20px;
  }

  .beneficios-container {
    flex-direction: column;
    gap: 20px;
  }

  .beneficios {
    font-size: 20px;
    padding: 10px;

  }

  .container-fibro {
    flex-direction: column;
    align-items: center;
  }

  .foto-fibromialgia {
    width: 60%;
    min-width: auto;
    height: auto;
  }

  .fibro-texto {
    font-size: 15px;
    padding: 10px;
  }

  .sintomas-topicos-geral {
    flex-direction: column;
  }

  .footer {
    font-size: 12px;
    padding: 15px;
  }
}




/* MINI LAPTOPS - 769px até 992px */
 @media (min-width: 769px) and (max-width: 992px) {
     .navbar-container {
         height: 95px;
     }

     .logo {
         height: 85px;
     }

     h1 {
         font-size: 15px;
     }

     .navbar-title-buttons {
         gap: 20px;
         margin-bottom: 16px;
     }

     .abas-principais,
     .abas-principais-1 {
         font-size: 16px;
         padding: 8px 14px;
     }

     .navbar-itens i {
         font-size: 28px;
     }

         /* fim do cabeçalho */

  /* conteúdo principal */
  .main-banner {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 2rem;
  }

  .banner-img {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .container-total {
    flex-direction: column;
    align-items: center;
  }

  .foto-container {
    align-items: center;
    justify-content: center;
  }

  .foto-container1 {
    width: 60%;
  }

  .introduçao-container{
    max-width: 90%;
  }

  .introduçao {
    padding: 0 20px;
    font-size: 16px;

  }

  .leis-introduçao {
    flex-direction: column;
    align-items: center;
  }

  .lei-bloco {
    width: 100%;
    height: auto;
  }

  .container-direitos {
    height: auto;
    padding: 20px;
  }

  .beneficios-container {
    flex-direction: column;
    gap: 20px;
  }

  .beneficios {
    font-size: 20px;
    padding: 10px;

  }

  .container-fibro {
    flex-direction: column;
    align-items: center;
  }

  .foto-fibromialgia {
    width: 60%;
    min-width: auto;
    height: auto;
  }

  .fibro-texto {
    font-size: 15px;
    padding: 10px;
  }

  .sintomas-topicos-geral {
    flex-direction: column;
  }

  .footer {
    font-size: 12px;
    padding: 15px;
  }
}

 /* LAPTOPS E DESKTOP - 993px e acima */
 @media (min-width: 993px) and (max-width: 1240px) {
     .navbar-container {
         height: 100px;
     }

     .logo {
         height: 100px;
     }

     h1 {
         font-size: 17px;
     }

     .navbar-title-buttons {
         gap: 50px;
         margin-bottom: 16px;
     }

     .abas-principais,
     .abas-principais-1 {
         font-size: 18px;
         padding: 8px 16px;
     }

     .navbar-itens i {
         font-size: 30px;
     }

    /* fim do cabeçalho */

 /* conteúdo principal */
  .main-banner {
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    padding: 2rem;
  }

  .banner-img {
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .container-total {
    flex-direction: row;
    align-items: center;
  }

  .foto-container {
    align-items: center;
    justify-content: center;
  }

  .foto-container1 {
    width: 100%;
  }

  .introduçao-container{
    max-width: 60%;
  }

  .introduçao {
    padding: 0 20px;
    font-size: 18px;

  }

  .leis-introduçao {
    flex-direction: column;
    align-items: center;
  }

  .lei-bloco {
    width: 100%;
    height: auto;
  }

  .container-direitos {
    height: auto;
    padding: 20px;
  }

  .beneficios-container {
    flex-direction: column;
    gap: 20px;
  }

  .beneficios {
    font-size: 20px;
    padding: 10px;

  }

      .container-fibro {
    flex-direction: column;
    align-items: center;
  }

  .foto-fibromialgia {
    width: 60%;
    min-width: auto;
    height: auto;
  }

  .fibro-texto {
    font-size: 15px;
    padding: 10px;
  }

  .sintomas-topicos-geral {
    flex-direction: column;
  }


  }
